button {
    background-color: purple;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.3s ease-in-out;
}

button:hover, button:focus {
    background-color: #8a2be2;
    transform: scale(1.05);
} 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'EB Garamond', serif;
    background-color: #0d0d0d; /* quase preto */
    color: #ffffff;
    height: 100vh;
    display: flex;
  }
  
  .caxia {
    width: 100%;
    padding: 4rem;
    background-color: rgba(20, 20, 20, 0.95); /* leve transparência */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  input {
    padding: 0.8rem;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    background-color: #1c1c1c;
    color: #fff;
  }
  
  input::placeholder {
    color: #aaa;
  }
  
  button {
    margin-top: 1rem;
    padding: 0.8rem;
    font-size: 1rem;
    background-color: #d1345b;
    border: none;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  button:hover {
    background-color: #ff2e63;
  }
  
  #mensagem {
    margin-top: 1rem;
    font-weight: bold;
    color: #ffd369;
  }

